<section>
  <div class="header my-3">
    <h3 class="title m-0 mb-2">Juntada del dia</h3>
    <p class="date m-0">6/6/2023</p>
  </div>

  <div
    class="d-flex mb-1 align-items-center justify-content-between"
    *ngIf="(detailedExpenses$ | async)?.length; else emptyMessage"
  >
    <h5 class="m-0">Gastos</h5>
    <p-button
      type="button"
      styleClass="p-button-text p-button-secondary"
      [icon]="
        reversed ? 'pi pi-sort-amount-down' : 'pi pi-sort-amount-down-alt'
      "
      (onClick)="reverse()"
    />
  </div>

  <ng-template #emptyMessage>
    <p-messages severity="info">
      <ng-template pTemplate>
        <i class="pi pi-info-circle me-3"></i>
        <p>No hay gastos registrados</p>
      </ng-template>
    </p-messages>
  </ng-template>

  <app-detail-card
    *ngFor="let expense of detailedExpenses$ | async"
    [expense]="expense"
    (viewOptions)="editExpense($event)"
  />
</section>
