<header class="text-center container my-5">
  <h1 class="title text-primary">
    ¿Cerramos
    <br />
    números?
  </h1>
  <p class="subtitle text-secondary">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio omnis qui
    dolorem cum recusandae esse vel, earum corporis illo aut sapiente ut.
  </p>
</header>

<main class="py-4">
  <p-button
    label="Registrar nueva juntada"
    styleClass="p-button-lg d-block mb-4 mx-auto"
    icon="pi pi-users"
    routerLink="/create"
  ></p-button>
  <p-button
    styleClass="p-button-lg p-button-secondary d-block mb-4 mx-auto"
    icon="pi pi-history"
    label="Seleccionar de mi historial"
  ></p-button>
</main>
