<nav class="border-bottom border-2 p-2 d-flex gap-2">
  <p-button
    type="button"
    icon="pi pi-home"
    styleClass="p-button-secondary p-button-text"
    class="d-block flex-fill"
    routerLink="/"
  ></p-button>
  <p-button
    type="button"
    icon="pi pi-question-circle"
    styleClass="p-button-secondary p-button-text"
    class="d-block"
  ></p-button>
  <p-button
    type="button"
    icon="pi pi-history"
    styleClass="p-button-secondary p-button-text"
    class="d-block"
  ></p-button>
</nav>
